<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net4" userInstalled="true" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net4" userInstalled="true" />
  <package id="Machine.Specifications" version="0.5.10" targetFramework="net45" userInstalled="true" />
  <package id="Quartz" version="2.3.3" targetFramework="net4" userInstalled="true" />
</packages>